/* Основная информация */
.photo {
    display: block;
    float: left;
    width: 140px;
    height: 140px;
    margin-top: 15px;
    border: 5px solid #30a5bd;
    border-radius: 50%;
    background: url(../img/photo.jpg);
}
.bio {
    float: right;
    width: 365px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.bio__row {
    line-height: 28px;
    margin-bottom: 5px;
}
.bio__row:last-child {
    margin-bottom: 0;
}
.bio__row__title {
    float: left;
    margin-right: 20px;
    font-family: 'fira_sansmedium';
    font-size: 17px;
}
.bio__row__value {
    font-family: 'fira_sanslight';
    font-size: 15px;
}

/* Навыки */
.skills {
    margin-left: 132px;
    line-height: 32px;
}
.skills__item {
    display: inline-block;
    padding: 0 14px;
    list-style: none;
    text-align: center;
    border-radius: 2px;
    background: linear-gradient(0deg, #2e8ca2 0%, #2e8ca2 47%, #3ba8c0 48%, #3ba8c0 100%);
    font-family: ProximaNovaCond;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
}

/* Опыт работы и образование */
.jobs,
.education {
    margin: 0;
    padding: 0;
    list-style: none;
}
.jobs__item,
.education__item {
    margin-bottom: 1em;
    padding-left: 70px;
    background: left center no-repeat;
}
.jobs__item:last-child,
.education__item:last-child {
    margin-bottom: 0;
}
.jobs__item {
    background-image: url(../img/job.png);
}
.education__item-main {
    background-image: url(../img/education_main.png);
}
.education__item-extra {
    background-image: url(../img/education_extra.png);
    background-position-x: 9px;
}
.jobs__item__title,
.education__item__title {
    font-family: 'fira_sansbook';
    font-size: 17px;
}
.jobs__item__dates,
.education__item__dates {
    font-family: 'fira_sanslight';
    font-size: 15px;
    line-height: 16px;
}