.socials {
    min-width: 260px;
    margin: 0;
    padding: 0;
}
.socials__item {
    display: inline-block;
    width: 47px;
    height: 47px;
    margin-left: 20px;
}
.socials__item:first-child {
    margin-left: 0;
}

.social {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.social_vk {
    background-image: url(../img/social_vk.png);
}
.social_vk:hover {
    background-image: url(../img/social_vk-active.png);
}
.social_fb {
    background-image: url(../img/social_fb.png);
}
.social_fb:hover {
    background-image: url(../img/social_fb-active.png);
}
.social_tw {
    background-image: url(../img/social_tw.png);
}
.social_tw:hover {
    background-image: url(../img/social_tw-active.png);
}
.social_gh {
    background-image: url(../img/social_gh.png);
}
.social_gh:hover {
    background-image: url(../img/social_gh-active.png);
}