extends ../layouts/main-layout.jade
block title
    title Магазин 2вариант
    
block content
    section.goods
        div.goods__wrap
            h2.goods__wrap-title Популярные товары
        ul.goods__list.clearfix
            li.goods__item
                div.merchendaise
                    table.merchendaise__table
                        tr.merchendaise__title
                            td.merchendaise__avatar
                                img.merchendaise__avatar-img(src="images/merch-1.png" alt="apple")
                            td.merchendaise__text
                                a.merchendaise__text-link(href="#") Apple Thunderb Display 27"   
                    table.merchendaise__table     
                        tr.merchendaise__features
                            td.merchendaise__features-option Артикул
                            td.merchendaise__features-option 42787825 
                        tr.merchendaise__features               
                            td.merchendaise__features-option Опция
                            td.merchendaise__features-option включена
                        tr.merchendaise__features
                            td.merchendaise__features-option Цвет
                            td.merchendaise__features-option серебристый
                        tr.merchendaise__features    
                            td.merchendaise__features-option Размер
                            td.merchendaise__features-option 1280*1245*90
                        tr.merchendaise__features
                            td.merchendaise__features-option Вес
                            td.merchendaise__features-option 9 кг
            li.goods__item
                div.merchendaise
                    table.merchendaise__table
                        tr.merchendaise__title
                            td.merchendaise__avatar
                                img.merchendaise__avatar-img(src="images/merch-2.png" alt="mac")
                            td.merchendaise__text
                                a.merchendaise__text-link(href="#") iMac 27"
                    table.merchendaise__table
                        tr.merchendaise__features
                            td.merchendaise__features-option Артикул
                            td.merchendaise__features-option 42787825 
                        tr.merchendaise__features               
                            td.merchendaise__features-option Опция
                            td.merchendaise__features-option включена
                        tr.merchendaise__features
                            td.merchendaise__features-option Цвет
                            td.merchendaise__features-option серебристый
                        tr.merchendaise__features    
                            td.merchendaise__features-option Размер
                            td.merchendaise__features-option 1280*1245*90
                        tr.merchendaise__features
                            td.merchendaise__features-option Вес
                            td.merchendaise__features-option 9 кг
            li.goods__item.goods__item-last
                div.merchendaise
                    table.merchendaise__table
                        tr.merchendaise__title
                            td.merchendaise__avatar
                                img.merchendaise__avatar-img(src="images/merch-3.png" alt="iPhone")
                            td.merchendaise__text
                                a.merchendaise__text-link(href="#") iPhone 5s Gold 
                    table.merchendaise__table
                        tr.merchendaise__features
                            td.merchendaise__features-option Артикул
                            td.merchendaise__features-option 42787825 
                        tr.merchendaise__features               
                            td.merchendaise__features-option Опция
                            td.merchendaise__features-option включена
                        tr.merchendaise__features
                            td.merchendaise__features-option Цвет
                            td.merchendaise__features-option серебристый
                        tr.merchendaise__features    
                            td.merchendaise__features-option Размер
                            td.merchendaise__features-option 1280*1245*90
                        tr.merchendaise__features
                            td.merchendaise__features-option Вес
                            td.merchendaise__features-option 9 кг
    section.goods
        div.goods__wrap
            h2.goods__wrap-title Товары со скидкой
        ul.goods__list.clearfix
            li.goods__item
                div.merchendaise
                    table.merchendaise__table
                        tr.merchendaise__title
                            td.merchendaise__avatar
                                img.merchendaise__avatar-img(src="images/merch-4.png" alt="ipad")
                            td.merchendaise__text
                                a.merchendaise__text-link(href="#") iPad Air Wi-Fi 128GB - Silver
                    table.merchendaise__table
                        tr.merchendaise__features
                            td.merchendaise__features-option Артикул
                            td.merchendaise__features-option 42787825 
                        tr.merchendaise__features               
                            td.merchendaise__features-option Опция
                            td.merchendaise__features-option включена
                        tr.merchendaise__features
                            td.merchendaise__features-option Цвет
                            td.merchendaise__features-option серебристый
                        tr.merchendaise__features    
                            td.merchendaise__features-option Размер
                            td.merchendaise__features-option 1280*1245*90
                        tr.merchendaise__features
                            td.merchendaise__features-option Вес
                            td.merchendaise__features-option 9 кг
            li.goods__item
                div.merchendaise
                    table.merchendaise__table
                        tr.merchendaise__title
                            td.merchendaise__avatar
                                img.merchendaise__avatar-img(src="images/merch-5.png" alt="mac")
                            td.merchendaise__text
                                a.merchendaise__text-link(href="#") Apple iPod nano 7G 16 ГБ Blue
                    table.merchendaise__table
                        tr.merchendaise__features
                            td.merchendaise__features-option Артикул
                            td.merchendaise__features-option 42787825 
                        tr.merchendaise__features               
                            td.merchendaise__features-option Опция
                            td.merchendaise__features-option включена
                        tr.merchendaise__features
                            td.merchendaise__features-option Цвет
                            td.merchendaise__features-option серебристый
                        tr.merchendaise__features    
                            td.merchendaise__features-option Размер
                            td.merchendaise__features-option 1280*1245*90
                        tr.merchendaise__features
                            td.merchendaise__features-option Вес
                            td.merchendaise__features-option 9 кг
            li.goods__item.goods__item-last
                div.merchendaise
                    table.merchendaise__table
                        tr.merchendaise__title
                            td.merchendaise__avatar
                                img.merchendaise__avatar-img(src="images/merch-6.png" alt="apple AirPortport")
                            td.merchendaise__text
                                a.merchendaise__text-link(href="#") Роутер Wi-Fi Apple AirPort
                    table.merchendaise__content
                        tr.merchendaise__features
                            td.merchendaise__features-option Артикул
                            td.merchendaise__features-option 42787825 
                        tr.merchendaise__features               
                            td.merchendaise__features-option Опция
                            td.merchendaise__features-option включена
                        tr.merchendaise__features
                            td.merchendaise__features-option Цвет
                            td.merchendaise__features-option серебристый
                        tr.merchendaise__features    
                            td.merchendaise__features-option Размер
                            td.merchendaise__features-option 1280*1245*90
                        tr.merchendaise__features
                            td.merchendaise__features-option Вес
                            td.merchendaise__features-option 9 кг
