form.call-form(action="ajax.php", method="post", name="call-form", id="form")
    fieldset.call-form__inner
        h2.call-form__inner-title Заказать звонок
        div.call-form__inner-elem.clearfix
            div.call-form__inner-text
                label.call-form__inner-label(for="call-name") Ваше имя
            div.call-form__inner-item
                input.call-form__inner-input.form-input(type="text", name="name", placeholder="Константин",id="call-name", data-validation="text")
        div.call-form__inner-elem.clearfix
            div.call-form__inner-text
                label.call-form__inner-label(for="call-phone") Телефон
            div.call-form__inner-item
                input.call-form__inner-input.form-input(type="tel", name="phone", id="call-phone", placeholder="+7 (912) 000-00-00", data-validation="phone")
        div.call-form__inner-elem.clearfix
            div.call-form__inner-select
                label.call-form__inner-label Дата звонка
            div.call-form__inner-month
                div.call-form__wrap-select
                    select.form-select
                        option(value="1") 01
                        option(value="2") 02
                        option(value="3") 03
                        option(value="4") 04
                        option(value="5") 05
                        option(value="6") 06
                        option(value="7") 07
                        option(value="8") 08
                        option(value="9") 09
                        option(value="10") 10
                        option(value="11") 11
                        option(value="12") 12
            div.call-form__inner-day
                div.call-form__wrap-select
                    select.form-select
                        option(value="1") 01
                        option(value="2") 02
                        option(value="3") 03
                        option(value="4") 04
                        option(value="5") 05
                        option(value="6") 06
                        option(value="7") 07
                        option(value="8") 08
                        option(value="9") 09
                        option(value="10") 10
                        option(value="11") 11
                        option(value="12") 12
                        option(value="13") 13
                        option(value="14") 14
                        option(value="15") 15
                        option(value="16") 16
                        option(value="17") 17
                        option(value="18") 18
                        option(value="19") 19
                        option(value="20") 20
                        option(value="21") 21
                        option(value="22") 22
                        option(value="23") 23
                        option(value="24") 24
                        option(value="25") 25
                        option(value="26") 26
                        option(value="27") 27
                        option(value="28") 28
                        option(value="29") 29
                        option(value="30") 30
                        option(value="31") 31
        div.call-form__inner-elem.clearfix
            textarea.call-form__inner-input.call-form__inner-textarea(name="message", placeholder="Комментарий", data-validation="text")
        div.call-form__inner-elem.clearfix
            div.left-btn
                input.form-btn(type="submit", value="Отправить")
            div.right-btn
                input.form-btn(type="reset", value="Очистить" id="reset")
