.contacts
    ul.contacts__list
        li.contacts__item
            a.contacts__link.contacts__link-address(href="#") г. Москва, ул. Новая 246, офис 214.
        li.contacts__item
            a.contacts__link.contacts__link-tel(href="tel:+7(921) 322-12-32") +7(921) 322-12-32
