.little-gallery
    ul.little-gallery__list.clearfix
        li.little-gallery__item
            a.little-gallery__link(href="#")
                img.little-gallery__img(src="images/gallery-little-1.png", alt="картинка1")
        li.little-gallery__item
            a.little-gallery__link(href="#")
                img.little-gallery__img(src="images/gallery-little-2.png", alt="картинка2")
        li.little-gallery__item
            a.little-gallery__link(href="#")
                img.little-gallery__img(src="images/gallery-little-3.png", alt="картинка3")
        li.little-gallery__item
            a.little-gallery__link(href="#")
                img.little-gallery__img(src="images/gallery-little-4.png", alt="картинка4")
        li.little-gallery__item
            a.little-gallery__link(href="#")
                img.little-gallery__img(src="images/gallery-little-5.png", alt="картинка5")
        li.little-gallery__item
            a.little-gallery__link
                img.little-gallery__img(src="images/gallery-little-6.png", alt="картинка6")
        li.little-gallery__item
            a.little-gallery__link(href="#")
                img.little-gallery__img(src="images/gallery-little-7.png", alt="картинка7")
        li.little-gallery__item
            a.little-gallery__link(href="#")
                img.little-gallery__img(src="images/gallery-little-8.png", alt="картинка8")
        li.little-gallery__item
            a.little-gallery__link(href="#")
                img.little-gallery__img(src="images/gallery-little-9.png", alt="картинка9")
