div.slider
    div.slider__wrap
        ul.slider__list.clearfix
            li.slider__item.active
                img.slider__img(src="images/slider-first-slide.png", alt="second slide")
                div.slider__item-title
                    a.slider__item-link(href="#") Конкурс на концепт IPhone 7
                    p.slider__item-text Выйграй iPad Air за самый необычный  и интереный дизайн нового iPhone 7.
            li.slider__item
                img.slider__img(src="images/slider-second-slide.png", alt="first slide")
                div.slider__item-title
                    a.slider__item-link(href="#") До 31 декабря, iPhone 4 за 9900 руб.
                    p.slider__item-text Нет денег на шестой iPhone? Купи себе четвертый!
            li.slider__item
                img.slider__img(src="images/slider-third-slide.png", alt="third slide")
                div.slider__item-title
                    a.slider__item-link(href="#") iMac за пол цены
                    p.slider__item-text Прини свой старый Mac  и получи скидку на новый!
        div.slider__controls-button.slider__controls-button_left
                a.slider__controls-arrow.slider__controls-arrow_left(href="#") Пред.
        div.slider__controls-button.slider__controls-button_right
                a.slider__controls-arrow.slider__controls-arrow_right(href="#") След.
